.cartbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0, 0.8);
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
}

.cartbox.active {
    transform: scale(1);
}

.cartbox .cart {
    position: relative;
    height: 70%;
    width: 80%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartbox .cart i {
    position: absolute;
    right: 0;
    top: 0;
    background: #2A9D8F;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

.cartbox .cart i:hover {
    transition: 100ms;
    background: #124741;
}

.cartbox .cart h1 {
    position: relative;
    margin-top: 2%;
    font-size: 2.8rem;
    color: #2A9D8F;
}

.checkoutBtn {
    padding: 10px;
    background-color: #FDD261;
    color: black;
    border: none;
}

.checkoutBtn a {
    text-decoration: none;
    color: black;
}

.cartbox .cart .tb {
    overflow: scroll;
}